# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/

# ignore all DotENV files which contain secrets
.env_api_keys

# ignore all jupyter notebook output
.ipynb_checkpoints/

# ignore all data files
*.csv
*.xlsx
*.dat
*.bin

#jupyter cache
__pycache__

_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
